.rl-inquiry-popup-opener {
	z-index: 100000;
    background-color: #2152b8;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    cursor: pointer;
    text-align: center;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rl-inquiry-popup-opener svg {
	height: 40px;
	width: 40px;
	display: block;
	fill: #fff;
	color: #fff;
}

.rl-inquiry-popup-opener[data-status="closed"] .rl-inquiry-open,
.rl-inquiry-popup-opener[data-status="open"] .rl-inquiry-close {
	display: block;
}

.rl-inquiry-popup-opener[data-status="closed"] .rl-inquiry-close,
.rl-inquiry-popup-opener[data-status="open"] .rl-inquiry-open {
	display: none;
}

.rl-inquiry-form {
	z-index: 100001;
    position: fixed;
    width: 400px;
    height: auto;
    background-color: #e7eefa;
    border-radius: 2px;
    right: 2%;
    bottom: 10%;
    border:1px solid;
    border-radius: 14px;
}
.rl-inquiry-box {
    padding: 5px 14px;
}
.rl-inquiry-box input {
    margin-bottom: 17px !important;
    height: 33px;
    width: 100%;
    border-radius: 4px !important;
    border: solid 1px;
}
.rl-inquiry-box textarea {
    margin-bottom: 17px !important;
    height: 78px;
    width: 100%;
    border-radius: 4px !important;
    border: solid 1px;
}
.rl-inquiry-box .addressBox {
    height: 63px !important;
}
.rl-inquiry-box form .formInputGroup {
    position: relative;
}
.rl-inquiry-box .formLabel {
    position: absolute;
    top: 6px;
    left: 10px;
    color: #666;
    transition: 0.5s;
    pointer-events: none;
    font-size : 15px;
}
.rl-inquiry-box input:focus~label,
.rl-inquiry-box input:valid~label,.txtaraLbl {
    top: -17px !important;
    left: 2px !important;
    font-size : 14px !important;
    color: #000 !important;
}
.rl-inquiry-box .message, .rl-inquiry-box .addressBox {
    padding-top: 2px;
    padding-left: 5px;
}
.rl-inquiry-box input[type=text] {
    padding-left: 5px;
}
.rl-inquiry-header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6b95de;
    color:#fff;
    border-radius: 14px 14px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rl-inquiry-subHead {
    font-size: 12px;
    padding: 12px 14px;
}
.rl-inquiry form {
    display:flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.rl-inquiry .rl-inquiry-submit, .rl-inquiry .rl-inquiry-closeAlert {
    height: 30px !important;
    background: #337ab7 !important;
    border: 0px;
    color: #fff !important;
    border-radius: 3px;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 11px;
    margin-top: 5px;
}
.rl-inquiry-subFooter {
    padding: 0px 12px;
    font-size: 10px;
    color:#808080;
    padding-bottom: 8px;
}
.rl-inquiry-footer {
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-top: 1px solid;
    background-color:#fff;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 14px 14px;
    padding-left: 10px;
    padding-top: 2px;
}
.displayNone {
    display: none !important;
}
.expandForm{
    font-weight: bold;
    font-size: 13px;
}
.rl-inquiry .alertMsg {
    height: 86px;
    background: #fff;
    border: 2px outset;
    position: absolute;
    width: 89%;
    top: 292px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    justify-content: space-between;
    box-shadow: 2px 2px #888888;
}
.rl-inquiry .footerImage {
    height: 24px;
}
.rl-inquiry .footerText {
    font-size: 12px;
    font-weight: 620;
}
.rl-inquiry .form-group {
    padding:8px 5px 8px 5px;
    display:flex;
}
.rl-inquiry .form-group .form-control{
    width: 300px;
}
.rl-inquiry .form-group label{
    width:120px;
    font-weight: 500;
}
.rl-errorBorder {
    border:1px solid red !important;
}
.adminSubmit {
    width:70px !important;
    margin-top: 10px !important;
}
.rl-inquiry-shadow {
    box-shadow: 0px 0px 7px 8px rgba(0,0,0,.1);
}
.alertText{
    text-align: center;
}
.orgLogo{
    width: 25%;
}